@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header p {
  font-family: 'ZCOOL KuaiLe', 'Gugi', sans-serif;
  word-break:keep-all;
  white-space: pre-line;
  font-size: 2.5rem;
  color: black;
}

.App-header .p1 {
  font-weight: 400;
}

.App-header .p2 {
  font-weight: 400;  
}

.App-logo {
  width: 80%;
  max-width: 800px;
  height: auto;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-move infinite 1s alternate;
  }
}

@keyframes App-logo-move {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
